@charset "UTF-8";
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --footer-background-color: #0bfcd4;
  /* scroll animation param test */
  --color: whitesmoke;
  --sizeX: 30px;
  --sizeY: 60px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  width: 80%;
  align-items: center;
  margin: 1rem 10%;
  z-index: 999;
}

body {
  height: 100svh;
  background-image: conic-gradient(from var(--gradient-angle), #AAA398, #6B8992, #AAA398);
}



section {
  height: 100%;
  max-width: 100%;
}

button {
  border-style: none;
}

/* logo drrh */
.logo-anim {
  font-size: 3.3rem;
  color: white;
}

/*nav styles*/
.navbtn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  margin: 1rem;
  background-color: transparent;
  transition: 0.3s;
}

.navbtn:hover {
  cursor: crosshair;
  scale: 1.1;
  border: none;
  background-color: #ff5e00;
  transition: 0.3s ease-in-out;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: flex-start;
  /* transition: transform 200ms ease-in-out; Add transition */
}

.nav.show {
  animation: showNav ease-in-out 300ms both; /* Show animation */
}

.nav.hide {
  animation: hideNav ease-in-out 300ms both; /* Hide animation */
}

@keyframes showNav {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes hideNav {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(6px);
    opacity: 0;
  }
}

.nav .menu {
  width: 100%;
}

.nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  transition: 0.3s;
  text-align: center;
}

.nav li:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 0 10px 0 10px;
  border-radius: 20px;
}

.nav a {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
  cursor: crosshair;
}

a:link,
a:visited {
  color: white;
}

.logo:hover {
  color: hsl(22, 100%, 50%);
}

a:active {
  color: orange;
}

a:disabled {
  color: gray;
  cursor: not-allowed;
}

/*hero styles */
.hero__container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  height: 100vh;
  background-image: url(../assets/bg/mountain1.jpg);
  filter: brightness(94%);
  background-size: cover;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.hero__div {
  position: absolute;
  top: 20%;
  width: 90%;
}

.hero__div h1 {
  font-size: 4rem;
  text-shadow: -4px 4px rgb(255, 255, 255, 0.2);
  margin-bottom: 3rem;
}

.hero__div h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-shadow: -3px 3px rgb(255, 255, 255, 0.2);
}

.hero__div h3 {
  font-size: 1.25rem;
}

.hero__container .scrolldn {
  position: absolute;
  bottom: 100px;
}

.scrollanim {
  position: absolute;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: crosshair;
  z-index: 999;
}

.scrollanim::before {
  content: "";
  position: absolute;
  background-color: var(--color);
  bottom: 30px;
  left: 50%;
  width: 10px;
  height: 6px;
  margin-left: -5px;
  border-radius: 100%;
  box-sizing: border-box;
  animation: scrolldown-anim 2s infinite;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 20%;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}





/* blog header
.bg__blog .header { 
  display: block;
  position: relative;
  text-align: center;
  align-content: center;
  height: 100px;
  min-width: 350px;
  margin-top: 180px;
} */

/* blog section */
.bg__blog {
  background-color: transparent;
  overflow: hidden;
  width: 100svw;
  height: 100svh;
}

/* photo grid container */
.bg__blog .container {  
  display: grid; 
  justify-items: center;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". main main main"
    ". main main main"
    ". . . ."
  ; 
  height: 100%;
  width: 100%;
  color: white;
  object-fit: cover;
  z-index: 0;
}

/* slider time */
.bslider {
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.bslider img {
  width: 100%;
  height: 100%;
}

/* subgrid */
.bg__blog .main {
  display: grid;
  grid-area: main; 
  justify-items: center;  
  grid-template-columns: repeat(auto-fit, minmax(400px , 1fr)); 
  /* grid-template-columns: repeat(3, 1fr);  */
  grid-template-rows: repeat(3, 1fr); 
  gap: 2rem; 
  height: 100%;
  grid-template-areas:
  ". . ."
  ". . ."
  ". . ."
  ;
}

.bcard {
  position: relative;
  border-radius: 25px;
  height: 300px;
  aspect-ratio: 4 / 3;
  box-shadow: 0 0 70px 2px #363b3b;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 10%;
  border: 2px solid hsl(0, 0%, 60%);
  transition: 100ms ease-in-out;
}

.bcard__img {
  position: relative;
  height: 100%;
  z-index: 0;
  transition: 400ms cubic-bezier(0, .5, .5, 1);
}

.bcard__detail {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  color: white;
  opacity: 0;
  z-index: 2;
}

.bcard__detail p {
  font-size: 2rem;
  color: white;
  margin: 2rem;
  text-shadow: -3px 3px rgb(255, 255, 255, 0.2);
}

/* .bcard__detail button {
  background-color: #ff5e00;
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: white;
} ---> idk future link or scrap  */

.bcard:hover {
  box-shadow: 0 0 0 0;
  border: 2px solid #fff;
  padding: 0px;
}

.bcard:hover>.bcard__img {
  transform: scale(1.3);
  filter: grayscale(50%) blur(30px);
}

.bcard:hover>.bcard__detail {
  opacity: 1;
  transition: 500ms ease-in-out;
}

/* other sections */
.menu__container {
  background-color: seagreen;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

footer {
  position: relative;
  display: flex;
  width: 100%;
  background-color: var(--footer-background-color);
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/* media queries 1660px px max-width */
@media screen and (max-width: 1660px) {

/* grid container */
.bg__blog .container {  
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 20% repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 0px; 
  grid-template-areas: 
    "main main main main"
    "main main main main"
    "main main main main"
    ;
  align-items: center;
}

/* blog author */
.bg__blog .authimg { 
  display: none;
}

.bg__blog .authbio {
  display: none; 
}
}

/* media queries 1260px px max-width */
@media screen and (max-width: 1260px) {

/* blog header */
.bg__blog .header { 
  grid-area: header; 
  text-align: center;
  align-content: center;
  margin-bottom: 5%;
}

/* subgrid */
.bg__blog .main {
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-flow: column;
  grid-template-areas:
  ". ."
  ". ."
  ". ."
  ;
  padding-bottom: 10%;
  height: 100svh;
}
  
  /* blog author */
  .bg__blog .authimg { 
    display: none;
  }
  
  .bg__blog .authbio {
    display: none; 
  }
  
  .bg__blog .authfooter { 
  display: none;
  }
  
  }

/* media queries 820 px max-width */
@media only screen and (max-width: 820px) {
  * {
    justify-self: center;
  }

  body {
    inset: 0 0 0 0;
    overflow-x: hidden;
  }

  .hero__div {
    height: 100svh;
    top: 20%;
    align-items: center;
    width: 90%;
  }

  .hero__div h1 {
    font-size: 2.6rem;
    margin-bottom: 10%;
  }

  .hero__div h2 {
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .hero__div h3 {
    font-size: 1rem;
  }

  .logo-anim {
    font-size: 2.5rem;
  }

  .navbtn {
    position: fixed;
    background-color: #ff5e00;
    border: 2px solid hsla(50, 100%, 50%, 0.8);
    right: 0;
    top: 0;
    z-index: 999;
  }
  
  .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: hsla(180, 65%, 5%, 0.9);
    left: 0;
    top: 0;
    height: max-content;
    width: 40vw;
    border-radius: 0 0 20px 0;
    box-shadow: 0 0 20px 1px hsla(180, 65%, 5%);
    animation: transform 200ms ease-in-out; /* Add transition */
    opacity: 0;
  }

  .nav ul {
    margin: 0;
  }

  .nav li {
    display: block;
    font-size: 1rem;
    padding: 5px;
    transition: 0.5s;
  }

  .nav li:hover {
    border-radius: unset;
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  .bg__blog .header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .bg__blog .container {
    display: block;
    position: relative;
  }

  .bg__blog .main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .bg__blog .bcard {
    width: 80%;
    height: auto;
  }


   /* blog author */
  .bg__blog .authimg { 
    display: none;
  }
  
  .bg__blog .authbio {
    display: none; 
  }
  
  .bg__blog .authfooter { 
  display: none;
  }
}